.clientTypeFont_system{
    font-weight: bold;
    color: #F00;
}

.clientTypeFont_leave{
    font-weight: bold;
    color: #F00;
}

.clientTypeFont_error{
    font-weight: bold;
    color: #F00;
}

.clientTypeFont_2{
    font-weight: bold;
    color: #d200ff;
}

.clientTypeFont_{
    font-weight: normal;
    color: #fff;
}

.clientTypeFont_1{
    font-weight: normal;
    color: #3c3c3c;
}