<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <meta name="description" content="<%= description %>">
    <meta name="author" content="<%= author %>">
    <link rel="icon" href="/images/favicon.ico">

    <title><%= title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/route.css" rel="stylesheet">

</head>
<body>
    <div class="navbar-wrapper">
    <div class="container">
        <div class="navbar navbar-inverse navbar-static-top">

            <div class="navbar-header">
                <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="navbar-brand" href="#"><%= title %></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="http://www.bootply.com" target="ext">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div><!-- /container -->
</div>

    <div class="container">
        <button type="button" class="btn btn-primary">Route: <span class="badge">"/user"</span></button><br>
        <ul class="route">
            <li>
                <button type="button" class="btn btn-success">GET <span class="label label-default">0 Actions</span></button>
                <br>
                <span class="label label-default small">has policy: "isAdmin"</span>
            </li>
            <li>
                <button type="button" class="btn btn-info">POST <span class="label label-default">0 Actions</span></button>
                <br>
                <span class="label label-default small">has policy: "isAdmin"</span>
            </li>
            <li>
                <button type="button" class="btn btn-warning">PUT <span class="label label-default">0 Actions</span></button>
                <br>
                <span class="label label-default small">has policy: "isAdmin"</span>
            </li>
            <li>
                <button type="button" class="btn btn-danger">DELETE <span class="label label-default">0 Actions</span></button>
                <br>
                <span class="label label-default small">has policy: "isAdmin"</span>
            </li>
        </ul>



    </div>

    <script src="/js/dependencies/simple.js"></script>
</body>
</html>