#chatBox{
   
    width: 400px;
    height: 400px;
    
}
#chatboxView{
    margin:10px;
}
#chatBoxMessageLog{
    height:200px;
    overflow: scroll;
}
#chatBoxMinimized{
    background-color:#ccc;
    padding:5px;
    color:#fff;
    font-weight:normal;
}