<link href="/livechat/templates/liveChatBasicPopUp/css/style.css" rel="stylesheet">

<script src="/socket.io/socket.io.js"></script>
<script src="/livechat/js/logger.js"></script>
<script src="/livechat/js/chatPlugin.js"></script>

<script type="">

var clientType = 2;
var clientId = Math.round(Math.random()*100);

$(document).ready(function(){

    var socket = io.connect('/', {
        query:'token=i271az2Z0PMjhd6w0rX019g0iS7c2q4R&room=<%= room %>&name=Client&id='+clientId+'&type=' + clientType
    });

    var chatPlugin = new ChatPlugin(socket, {

        user: {
            id: '<%= userId %>',
            name: 'Client'
        },

        room:{
            name: '<%= room %>',
            slug: '<%= room %>'
        },

        ui:{
            log: '#chatBoxMessageLog',
            input: '#chatBoxMessageInput',
            roomTitle: '#roomTitle',
            roster: '.ucUserHolder',
            rosterCount: '#rosterUserCount',
            sendInputButton: '#messageSend'
        }
    });
});
</script>


<div id="chatBox">
    <div id="chatBoxMinimized">FederalFilingServices.com - Support <em style="float:right;">Live Chat</em></div>
    <div id="chatboxView">
        <div id="chatBoxMessageLog">Connecting...</div>
        <label for="chatBoxMessageInput">Send Message: </label><input id="chatBoxMessageInput" type="text" name="chatBoxMessageInput" placeholder="type your message here..."/>
    </div>
</div>
