<html>
<head>

    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="/css/chat.css" rel="stylesheet" type="text/css">
    <link href="/css/gui.css" rel="stylesheet" type="text/css">
    <link href="/css/subscriber.css" rel="stylesheet" type="text/css">
    <link href="/css/roster.css" rel="stylesheet" type="text/css">

    <script src="/lib/jquery-1.11.0.min.js"></script>
    <script src="/lib/jquery.mobile-git.min.js"></script>
    <script src="/lib/swfobject.js" type="text/javascript"></script>

    <script src="/socket.io/socket.io.js"></script>

    <script src="/js/config.js"></script>
    <script src="/js/typeDef.js"></script>
    <script src="/js/common.js"></script>
    <script>
        var clientType = CLIENT_TYPE.SUBSCRIBER;
        var clientId = Math.round(Math.random()*100);
        var socket = io.connect(serverAddress, {query:'token=i271az2Z0PMjhd6w0rX019g0iS7c2q4R&room=<%= room %>&name=<%= user %>&id='+clientId+'&type=' + clientType});

    </script>

    <script src="/js/common.js"></script>
    <script src="/js/chat.js"></script>
    <script src="/js/roster.js"></script>

</head>

<body>
    <!---- Video Module Start --->
    <div id="video" class="componentContainer">
        <strong>You need to upgrade your Flash Player</strong>
        This is replaced by the Flash content.
        Place your alternate content here and users without the Flash plugin or with
        Javascript turned off will see this. Content here allows you to leave out <code>noscript</code>
        tags.
    </div>
    <script src="/js/videoOutFlash.js"></script>
    <!---- Video Module End --->

<div style="clear:both"></div>

    <!---- Chat Module Start--->
    <div id="chatContainer">
        <div id="chat_box_container">
            <input type="text" name="chat_box" value="" id="chat_box" placeholder="type to chat..." /><button id="sendMessageButton" type="submit">Send</button>
        </div>
        <div id="chatroom">
            <div id="chat_log"></div>
        </div>
    </div>
    <!---- Chat Module End--->

    <!-- Chat Roster Start -->
    <div class="chatUsersContainer">
        <div>
            <ul id="chatUsers" class="hover">
                <li class="hoverli"></li>
                <ul class="hoverMenu">
                    <li><a id="blockMenu" href="#" onclick="blockUser();">Block</a></li>
                </ul>
            </ul>
        </div>
    </div>
    <!-- Chat Roster End -->

    <!---- View Specific Script ---->
    <script>
        //** View Specific Resizing Start **//
            function resizeChat(){
                stretchW("#chat_box",   -105);
                stretchW("#chatroom",   -20);
                stretchW("#video",      -15);
                stretchH("#videoSWObject", -12);
                stretchW("#videoSWObject", -10);
            }
            window.addEventListener('resize', resizeChat);
            resizeChat();
        //** View Specific Resizing End **//
    </script>
    <!---- View Specific Script ---->
</body>

</html>