<html>
<head>
    <meta title="<%= title %>">
</head>
<body>
<h1><%= title %> Application</h1>
<p>Below are a list of available html desktop and mobile clients hosting on this server.</p>

<ul>
    <li><a href="/chat/lobby/colorTester"> Public Desktop Client (Flash Video)</a></li>
    <li><a href="/room/lobby/roomTester"> Public Desktop Client (Flash Video)</a></li>
    <li><a href="/room/lobby/dmoneypvt"> Private Desktop Client (Flash Video)</a></li>
    <li><a href="/room/lobby/dmoney"> Public Mobile Client (HLS Video)</a></li>
    <li><a href="/room/lobby/dmoneypvt"> Private Mobile Client (HLS Video)</a></li>
    <li><a href="/broadcast/lobby/dmoney"> Live Desktop Broadcaster (Flash Broadcast)</a></li>
</ul>

</body>
</html>