<!DOCTYPE html>
<html>
  <head>
    <title>MatchMySign.com #1 Zodiac Dating Website</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <base href="/">

    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-chart.css">
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/even-odd.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/json-formatter.min.css">
    <link rel="stylesheet" href="/styles/ngToast-animations.min.css">
    <link rel="stylesheet" href="/styles/ngToast.css">
    <link rel="stylesheet" href="/styles/scrolling-nav.css">
    <link rel="stylesheet" href="/styles/signup_form.css">
    <link rel="stylesheet" href="/styles/toastr.css">
    <link rel="stylesheet" href="/styles/xeditable.css">
    <!--STYLES END-->
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
      <!-- Added ng-cloak here to make sure it is loaded before the DOM -->
      <style>
          [ng\:cloak], [ng-cloak], .ng-cloak {
              display: none !important;
          }
      </style>

      <script src="/js/dependencies/sails.io.js"></script>
      <script src="/js/dependencies/angular.min.js"></script>
      <script src="/js/dependencies/jquery.min.js"></script>
  </head>

  <body ng-app="app" id="{{ bodyId }}" class="{{ bodyClass }}" ng-controller="AppController as appController">



  <!-- Navigation

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-top:2px;">

      <div class="container">

          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>

              <a class="navbar-brand page-scroll" href="/"><img style="float:left; margin-right:4px;"  src="/images/logo/logo.png" alt=" MatchMySign.com" > </a>
          </div>


          <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav pull-right">

                  <li class="hidden">
                      <a class="page-scroll" href="#page-top"></a>
                  </li>

                  <li>
                      <a class="page-scroll visible-lg" href="/">My Matches</a>
                  </li>
                  <li>
                      <a class="page-scroll visible-md visible-lg" href="/CheckOrderStatus">My Messages</a>
                  </li>

                  <li>
                      <a class="page-scroll" href="/ContactUs">Log Out</a>
                  </li>

              </ul>


          </div>

      </div>

      <div class="clearfix "></div>
  </nav>
-->
  <div class="top"></div>
  
  <toast></toast>

  <!-- HEADER MAIN
        ================================================== -->
  <header class="header-main navbar-fixed-top">
      <!--START ROW-->
      <div class="row">
          <div class="col-xs-4">
              <div class="brand-name">
                  <a href="/mymatches"><img src="/images/logo/logo.png" alt=""></a>
              </div>
              <!--/BRAND NAME-->
          </div>

          <div class="col-xs-4 text-center  ">
              <h3 class="ng-cloak" style="color: #fff; font-size: 16pt;">{{ title }}</h3>
              <!--/NAV TOGGLER-->
          </div>

          <div class="col-xs-4 text-right  ">
              <a href="/" class="nav-toggler">
                  <img src="/images/icon/icon-menu.png" alt="">
              </a>
              <!--/NAV TOGGLER-->
          </div>
      </div>
      <!--END ROW-->
  </header>  
  
  <%- body %>

  <div class="bottom"></div>
  <footer class="footer-main navbar-fixed-bottom">
      <!--START ROW-->
      <div class="row small text-center" style="color:#ffffff">
          <div class="col-12">
              <div class="brand-name">
                  © MatchMySign.com LLC. 2019. All Rights Reserved.
              </div>
              <!--/BRAND NAME-->
          </div>

          <!--<div class="col-xs-6 text-right  ">-->

              <!--&lt;!&ndash;/NAV TOGGLER&ndash;&gt;-->
          <!--</div>-->
      </div>
      <!--END ROW-->
  </footer>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/json-formatter.min.js"></script>
    <script src="/js/Chart.min.js"></script>
    <script src="/js/angular-animate.min.js"></script>
    <script src="/js/angular-chart.min.js"></script>
    <script src="/js/angular-route.min.js"></script>
    <script src="/js/angular-sails.min.js"></script>
    <script src="/js/angular-sanitize.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/controllers/AppController.js"></script>
    <script src="/js/controllers/AuthenticationController.js"></script>
<!--    <script src="/js/controllers/ConversionController.js"></script>-->
    <script src="/js/controllers/MyMatchesController.js"></script>
    <script src="/js/controllers/ProfileController.js"></script>
    <script src="/js/controllers/SignupController.js"></script>
    <script src="/js/controllers/UserManagerController.js"></script>
    <script src="/js/filters/reverse.js"></script>
    <script src="/js/filters/sanitize.js"></script>
    <script src="/js/ngToast.min.js"></script>
    <script src="/js/signup_box.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/toastr.js"></script>
    <script src="/js/xeditable.min.js"></script>
    <!--SCRIPTS END-->


  </body>
</html>
