        <section id="status" ng-controller="ListenerController as listenerController">
            <header class="navbar navbar-inverse normal" role="banner">
                <div class="container">

                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand">Simple Server v0.0.3</a>
                    </div>
                    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav">
</ul>
                        <ul class="nav navbar-nav navbar-right visible-md visible-lg">
                            <li>
                                <a href="signin" class="button">Login</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            <div id="update">
                <div class="container">
                    <div class="row header">
                        <h3>Web Hook Listener</h3>
                        <p>Current status and incident report</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="current-status">
                                <span class="updated">
							Updated 2 minutes ago</span>
                                <div class="status">
                                    <div class="color green"></div>
                                    All systems operational
                                </div>
                                <div class="help">
                                    Need help?

                                    <a href="contactus.html">Contact us</a>.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default modules">
                                <!-- List group -->
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        Web API
                                        <div class="status">Operational</div>
                                    </li>
                                    <li class="list-group-item">
                                        Notifications
                                        <div class="status">Operational</div>
                                    </li>
                                    <li class="list-group-item">
                                        Application Monitoring
                                        <div class="status">Operational</div>
                                    </li>
                                    <li class="list-group-item">
                                        Active Socket Connections
                                        <div class="status">2</div>
                                    </li>
                                    <!-- <li class="list-group-item">
                Backoffice Administration
                <div class="status">Operational</div>
            </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="messages">
                                <h3>Messages</h3>
                                <div class="date">
                                    <div class="day">Today</div>
                                    <p class="ok">
              All systems operational</p>
                                </div>
                                <div class="date">
                                    <div class="day">Yesterday</div>
                                    <p class="ok">
              All systems operational</p>
                                </div>
                                <!--<div class="date">-->
                                <!--<div class="day">October 04 2013</div>-->
                                <!--<p class="ok">-->
                                <!--All systems operational-->
                                <!--</p>-->
                                <!--</div>-->
                                <!--<div class="date">-->
                                <!--<div class="day">October 03 2013</div>-->
                                <!--<p class="ok">-->
                                <!--All systems operational-->
                                <!--</p>-->
                                <!--</div>-->
                                <!--<div class="date">-->
                                <!--<div class="day">October 02 2013</div>-->
                                <!--<p class="issues">-->
                                <!--Application deployment issues-->
                                <!--</p>-->
                                <!--<p class="update">-->
                                <!--<strong>Resolved:</strong>-->
                                <!--We fixed the issues monitoring status, downtime was between 1pm and 5pm PT.-->
                                <!--</p>-->
                                <!--<p class="update">-->
                                <!--<strong>Investigating:</strong>-->
                                <!--We identified some issues deploying some applications and monitoring their status.-->
                                <!--</p>-->
                                <!--</div>-->
                            </div>
                            <div class="full-history">
                                <a href="#">
            ← See full incident history</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
