
<section class="application-section" ng-controller="AuthenticationController" >
<!-- MAIN
================================================== -->
<main class="main main-login">
    <!--START TITLE-->
    <div class="title">
        <h2>#1 Zodiac Dating Site</h2>
    </div>
    <!--END TITLE-->

    <!--START ROW-->
    <div class="row">
        <div class="col-xs-4">
            <div class="pic-box">
                <a href="#">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <!--/PIC BOX-->
        </div>

        <div class="col-xs-4">
            <div class="pic-box">
                <a href="#">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/ladylexy/128.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <!--/PIC BOX-->
        </div>

        <div class="col-xs-4">
            <div class="pic-box">
                <a href="#">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jina/128.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <!--/PIC BOX-->
        </div>
    </div>
    <!--END ROW-->

    <!--START ROW-->
    <div class="row">
        <div class="col-xs-4">
            <div class="pic-box">
                <a href="#">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <!--/PIC BOX-->
        </div>

        <div class="col-xs-4">
            <div class="pic-box">
                <a href="#">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/syswarren/128.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <!--/PIC BOX-->
        </div>

        <div class="col-xs-4">
            <div class="pic-box">
                <a href="#">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/madysondesigns/128.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <!--/PIC BOX-->
        </div>
    </div>
    <!--END ROW-->

    <!--START ROW-->
    <div class="row">
        <div class="col-xs-4">
            <div class="pic-box">
                <a href="#">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <!--/PIC BOX-->
        </div>

        <div class="col-xs-4">
            <div class="pic-box">
                <a href="#">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/ladylexy/128.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <!--/PIC BOX-->
        </div>

        <div class="col-xs-4">
            <div class="pic-box">
                <a href="#">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jina/128.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <!--/PIC BOX-->
        </div>
    </div>
    <!--END ROW-->

    <!--START ROW-->
    <div class="row">
        <div class="col-xs-4">
            <div class="pic-box">
                <a href="#">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <!--/PIC BOX-->
        </div>

        <div class="col-xs-4">
            <div class="pic-box">
                <a href="#">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/syswarren/128.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <!--/PIC BOX-->
        </div>

        <div class="col-xs-4">
            <div class="pic-box">
                <a href="#">
                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/madysondesigns/128.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <!--/PIC BOX-->
        </div>
    </div>
    <!--END ROW-->

    <!--START TITLE-->
    <div class="title">
        <h2>Dating with real compatibility</h2>
    </div>
    <!--END TITLE-->
</main>

<!-- LOGIN
================================================== -->
<section class="login">
    <form class="form-login" role="form" ng-submit="submit($event)">
        <legend>Member Login</legend>
        <div class="form-group">
            <input type="email" class="form-control email" placeholder="" ng-model="formData.email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control password" placeholder="" ng-model="formData.password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn-login">Login</button>
        </div>
        <div class="form-group">
            <a href="#" class="btn-facebook"></a>
        </div>
    </form>
</section>
</section>